.menu {
  width: 100%;

  &__list {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    text-transform: uppercase;
    background: #FFFFFF;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    @include min-width(md) {
      width: unset;
      position: unset;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 50px;
      box-shadow: unset;
    }

    &--open {
      display: block;
      z-index: 10;
      @include min-width(md) {
        display: flex;
      }
    }
  }

  &__item {
    height: 100%;
    margin: 12px 0;
    font-weight: 700;
    text-align: center;
    font-size: 13px;
    color: #565656;
    @include min-width(md) {
      position: relative;
    }

    &--burger {
      @include min-width(md) {
        display: none;
      }
    }

    &--authorization {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-weight: 800;
      color: #55B570;
      @include min-width(md) {
        position: relative;
        height: 100%;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        padding: 0 50px;

        &:before {
          position: absolute;
          content: "";
          width: 1px;
          height: 100%;
          left: 0;
          background: #F4F4F4;
        }
      }
    }
  }

  &__link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      @include min-width(md) {
        &:before {
          position: absolute;
          top: 0;
          content: "";
          width: 100%;
          height: 5px;
          background: #2E9ADB;
        }
      }
    }

    &--decor {
      display: none;
      @include min-width(md) {
        display: block;
      }
    }

    &--img {
      padding-right: 10px;
    }
  }

  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    display: flex;
    margin-right: 16px;
    height: 100%;
    align-items: center;
    @include min-width(md) {
      display: none;
    }
  }

  &__burger {
    position: relative;
    width: 35px;
    height: 4px;
    background-color: #4EAAE0;
    transition: background-color 0.5s;

    &:before {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 35px;
      height: 4px;
      background-color: #4EAAE0;
      transition: all 0.5s ease-in-out;
    }

    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 35px;
      height: 4px;
      background-color: #4EAAE0;
      transition: all 0.5s ease-in-out;
    }

    &--cross {
      position: relative;
      width: 35px;
      height: 4px;
      visibility: hidden;
      background-color: #fff;
      transition: background-color 0.5s, visibility 0.5s;

      &:before {
        content: "";
        position: absolute;
        visibility: initial;
        width: 35px;
        height: 4px;
        bottom: 0;
        transform: rotate(-45deg);
        background-color: #4EAAE0;
        transition: all 0.5s ease-in-out;
      }

      &:after {
        content: "";
        position: absolute;
        visibility: initial;
        width: 35px;
        height: 4px;
        top: 0;
        transform: rotate(45deg);
        background-color: #4EAAE0;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
